<h1>Let's Do The 2FA with Authy!</h1>

<p>Doing two-factor authentication (2FA) at a level of excellence can be tricky. Let's demonstrate how to use <%= link_to "Authy", "http://authy.com" %> (powered by <%= link_to "Twilio", "http://twilio.com" %>) to make implementing 2FA a snap.</p>

<p><%= link_to "Sign up", new_user_path %> or <%= link_to "Log in", new_session_path %> to get started.</p>
