<h1><%= @user.name %></h1>
<table>
    <tr>
        <th>E-Mail</th>
        <td><%= @user.email %></td>
    </tr>
    <tr>
        <th>Phone</th>
        <td><%= @user.phone_number %></td>
    </tr>
</table>
